/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.title {
  color: #CC1445;
  font-family: 'Pacifico', serif, sans-serif;
}

.sub-title {
  color: #CC1445;
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0px;
  font-family: 'Roboto', serif, sans-serif;
}

.artist-title {
  color: #eee;
  font-size: 2.6em;
  font-weight: bold;
  margin: 20px 0px;
  font-family: 'Roboto', serif, sans-serif;
}

.subtitle {
  color: #eee;
  font-size: 2.3em;
  font-weight: bold;
  font-family: 'Roboto', serif, sans-serif;
  padding-bottom: 1.5em;
}

.profile {
  max-width: 100%;
  height: 40px;
  border-radius: 50%;
}

.name-title {
  color: #eee;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto', serif, sans-serif;
  padding: 10px 0px
}

.text {
  color: #eee;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Roboto', serif, sans-serif;
}

.song-text {
  margin: 7px 15px;
}